<h1><%= t('pages.edit', model: Book.model_name.human ) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('button.show', model: Book.model_name.human ), @book %> |
  <%= link_to t('button.index', model: Book.model_name.human ), books_path %>
</nav>
