<p style="color: green"><%= notice %></p>

<h1>本の一覧</h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('link.show_book', model: Book.model_name.human ), book %>
    </p>
  <% end %>
</div>

<%= link_to t('link.new_book', model: Book.model_name.human ), new_book_path %>
