
<div class="show-item">
  <%= render @book %>
</div>

<div>
  <%= link_to t('link.edit_book', model: Book.model_name.human ), edit_book_path(@book) %> |
  <%= link_to t('link.index_book', model: Book.model_name.human ), books_path %>

  <%= button_to t('submit.delete', model: Book.model_name.human ), @book, method: :delete %>
</div>
